[user]
  name = Jeroen van Baarsen
  email = jeroenvanbaarsen@gmail.com
[alias]
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  c = checkout
  cb = checkout -b
  b = branch
  pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1; } ; f"
  fpr = "!f() { git fetch upstream refs/pull/$1/head:pr/$1; } ; f"
  undo-commit = reset --soft HEAD^
  ctags = !.git/hooks/ctags
  ci = ci-status
[color]
  diff = auto
  status = auto
  branch = auto
[color "diff"]
  meta = yellow
[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
[help]
  autocorrect = 1
[push]
  default = simple
[github]
  user = jvanbaarsen
[fetch]
  prune = true
[init]
  templatedir = ~/.git_template
